# ========== General ==========
HELP.md
build/
bin/
out/

# ========== Gradle ==========
.gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# ========== IntelliJ IDEA ==========
.idea/
*.iws
*.iml
*.ipr

# ========== Eclipse / STS ==========
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# ========== NetBeans ==========
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========== Visual Studio Code ==========
.vscode/

# ========== Exclude build output from src folders ==========
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/
